/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
    --background-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #b0b0b0;
    --accent-color: #e63946;
    --main-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Playfair Display", serif;
}

/* GENERAL STYLING */
html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: var(--main-font-family);
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

/* HEADER STYLING */
header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    padding: 1.2em;
}

.btn-header {
    width: 10%;
    height: 3.8em;
    background-color: var(--accent-color);
    border: none;
    border-radius: 1000px;
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: bold;
    transform: scale(0.9);
    transition: transform 0.3s ease-in;
}

.btn-header:hover,
.btn-container:hover {
    transform: scale(1.1);
    animation-play-state: paused;
}

/* MAIN CONTAINER STYLING */
.main-container {
    width: 85%;
    margin: 1em auto;
    max-width: 1320px;
}

.intro-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FIRST TEXT CONTAINER STYLING */
.text-container {
    width: 70%;
    font-size: 1.5rem;
}

.intro-texts {
    padding-bottom: 2.6em;
}

.text-container-headings {
    font-family: var(--secondary-font-family);
}

.name {
    color: var(--accent-color);
}

.typing-container p {
    font-size: 1.35rem;
    border-right: 2px solid var(--secondary-text-color);
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.btn-container {
    width: 50%;
    height: 4em;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    animation: heartBeat 0.6s ease-in alternate infinite;
    font-weight: bold;
}

/* BUTTON ANIMATION */
@keyframes heartBeat {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1);
    }
}

/* SECOND TEXT CONTAINER STYLING */
.second-text-container h3 {
    color: var(--accent-color);
    padding-bottom: 1em;
}

.second-text {
    padding-bottom: 1.5em;
}

.second-text-container p {
    color: var(--secondary-text-color);
}

/* SKILLS SECTION STYLING */
.skills-section {
    display: flex;
    gap: 10px;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
}

.skills-images-container {
    background-color: var(--primary-text-color);
    width: 60%;
    overflow: hidden;
    padding: 1em;
    white-space: nowrap;
    border-radius: 10px;
}

.skills-images-content img {
    width: 60px;
    height: auto;
}

.skills-images-content {
    width: max-content;
    display: flex;
    gap: 10px;
    animation: moveImages 10s linear infinite;
}

/* ANIMATION TO MOVE IMAGES */
@keyframes moveImages {
    from {
        transform: translateX(-0%);
    }

    to {
        transform: translateX(-50%);
    }
}

.skills-section p {
    width: 30%;
}

/* CONTACT LINKS */
#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-links,
.writing-links {
    width: 85%;
}

.contact-links a {
    display: block;
    padding: 0.3em;
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

/* WRITING LINKS */
.writing-links {
    margin-top: 5em;
    margin-left: -23em;
}

.writing {
    display: inline-block;
}

.writing a {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    padding: 1em;
}

/* MAKING IT RESPONSIVE FOR VARIOUS SCREEN SIZES */
/* EXTRA SMALL SCREENS */
@media (max-width: 350px) {

    .intro-section,
    .skills-section {
        flex-direction: column;
    }

    .writing-links {
        margin-top: 12em;
    }

    .writing-links p {
        font-size: 0.8rem;
    }
}

@media (min-width: 351px) and (max-width: 380px) {
    .btn-header {
        width: 35%;
    }
}

@media (min-width: 381px) and (max-width: 480px) {
    .btn-header {
        width: 30%;
    }

    .intro-section,
    .skills-section {
        flex-direction: column;
    }

    .intro-texts {
        padding-bottom: 0;
        margin-bottom: 1em;
    }

    .contact-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 3em;
    }

    .writing-links {
        margin-left: -15em;
        margin-right: 1em;
        margin-bottom: 2em;
    }

    .writing-links p {
        font-size: 0.8rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .btn-header {
        width: 30%;
    }

    .btn-container {
        width: 40%;
    }

    .intro-section,
    .skills-section {
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .btn-header {
        width: 20%;
    }

    .btn-container {
        width: 30%;
    }

    .intro-section,
    .skills-section {
        flex-direction: column;
    }
}